@using MonsterMVC.Domain.Data
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Start a new encounter
        </p>
        @using (Html.BeginForm("Create", "Encounters", FormMethod.Post)) 
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h2>Retrieve Existing Encounter</h2>
        @using (Html.BeginForm("Details", "Encounters", FormMethod.Get)) 
        {
            @Html.AntiForgeryToken()
    
            <div class="form-horizontal">
                <hr/>
                <input type="number" name="Id" value="Id"/>

                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Resume Encounter" class="btn btn-default"/>
                    </div>
                </div>
            </div>
        }
    </div>
</div>