@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Monster Tracker</h1>
    <p class="lead">This is an app that will manage your D&D Encounters!</p>
</div>

<div>
    @using (Html.BeginForm("GetMonster","Monster",FormMethod.Post))
    {
        <form action="Monster/GetMoster" method="post">
            <input type="number" name="monsterId"/>
            <input type="submit" value="Get Monster"/>
        </form>
    }
   

</div>